/* global */

body {
  /* font-family: "Arvo", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial,
    "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC",
    "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei",
    "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei,
    "WenQuanYi Zen Hei Sharp", sans-serif; */
  font-family: 'Open Sans', sans-serif;
  margin: 0 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.post-ads {
  margin: 50px 0;
}
.flex-spacer{
  flex-grow: 1;
}
/* overwrite github-markdown */

/* .markdown-body {
  font-size: 18px;
} */

/* i18n */

.Chinese .markdown-body {
  line-height: 200%;
}

/* header */
.site-header{
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  border-bottom: 3px solid #000;
  padding: 8px 0;
  margin-bottom: 20px;;
}
.site-header a{
  font-weight: bold;
}
.site-title {
  font-size: 26px;
  font-weight: bold;
}

.site-date-catalog {
  font-size: 1.5em;
  margin: 10px 0;
}

.signatures {
  /* font-family: "Permanent Marker", Impact, Charcoal, sans-serif; */
}

.signatures a {
  text-decoration: none;
}

.lang-switch {
  font-weight: 600;
}

/* posts list */

#posts-list {
  min-height: 70%;
}

.posts-date,
.posts-title {
  font-size: 1.2rem;
}

.posts-line {
  margin: 12px 0;
}
.posts-categories {
  font-size: 0.8rem;
  margin: auto;
  text-align: center;
}

.posts-category {
  padding: 3px;
  border: #000 2px solid;
  margin-bottom: 3px;
}

/* content-list override post-list */
.content-list{

}
.content-list-item{
  display: flex;
  align-items:center;
  margin-bottom: 15px;
}
.content-list-date{
  width: 80px;
  display: inline-block;
  flex-shrink: 0;
}
.content-list-title{
  font-size: 1.1em;
  flex-grow: 1;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.content-list-tags{
  margin-left: 15px;
}
.content-list-tag{
  margin-left: 5px;
}
/*  */
.site-footer {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
  border-width: 3px;
  border-style: solid none;
  border-color: #000;
}

.site-footer-item {
  margin-left: 1em;
}
.site-footer-item a{
  font-weight: bold;
}

/* post */

.post-content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 2.1rem;
  margin: 10px 0;
  font-weight: 600;
}

.post-category {
  display: inline;
  font-weight: 900;
  padding: 2px;
  border: #000 2px solid;
}

.post-date {
  font-style: italic;
}

.post-author {
  float: right;
  font-weight: 600;
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  hyphens: auto;
  line-height: 1.6;
  text-align: justify;
  text-justify: ideographic;
  margin-bottom: 1em;
}

.releated-content {
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.releated-content li {
  margin: 5px 0;
}

/* taxonomy */

.taxonomy-term {
  font-size: 3rem;
}

/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}
.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}

/* disqus */

#disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}
