<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-6 col-lg-offset-3">
        {{ partial "header.html" . }}
        <div id="posts-list">
          {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section>
            <h1 class="site-date-catalog">{{ .Key }}</h1>

            {{ range .Pages }}
            <div class="content-list-item">
              {{if hasPrefix .Site.Language.Lang "en"}}
              <time class="content-list-date" datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
              {{else}}
              <time class="content-list-date" datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "01-02"}}</time>
              {{end}}
              <a class="content-list-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
              <span class="content-list-tags">
                {{ range .Params.categories }}
                <a class="content-list-tag" href="/categories/{{ lower . }}">{{.}}</a>
                {{ end }}
              </span>
            </div>
            {{ end }}
          </section>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>